<mat-expansion-panel (closed)="onCollapse()" (opened)="onExpand()" [ngStyle]="{'border-color': color_dictionary.get('tracked')}">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="material-icons">location_on</i><h5>{{line?._id}}</h5>
        </mat-panel-title>
        <mat-panel-description>
            <p>{{line?.duration}}</p>
            <button class="list-delete-item" mat-icon-button (click)="onEdit(line._id)" [ngStyle]="{'background-color': color_dictionary.get('tracked')}">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="list-delete-item" mat-icon-button (click)="onDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="isExpanded">
        <div class="left">
            <app-height-map-unregistered [line]="line"></app-height-map-unregistered>
        </div>
        <div class="right">
            <app-line-map-unregistered [line]="line"></app-line-map-unregistered>
        </div>
    </div>

</mat-expansion-panel>

