<div class="line-edit-overlay">
    <div class="width-container-flex line-edit-overlay__container">
        <div class="grid-left">
            <button class="button-primary" (click)="finishEdit()">DONE</button>
        </div>
        <div class="grid-main line-edit-overlay__main-container">
            <div class="line-edit-overlay__title-container">
                <i class="material-icons">edit</i>
                <h4 class="line-edit-overlay__title">Edit mode</h4>
            </div>
        </div>
        <div class="grid-right">
            <button class="button-action" (click)="cancelEdit()">CANCEL</button>
        </div>
    </div>
</div>