<div class="container">
    <div *ngIf="hasImage(); then original_img else default_img"></div>
    <ng-template #original_img>img here</ng-template>
    <ng-template #default_img>
        <img [src]="getDefaultImageUrl()" alt="Default Profile Picture" height="40px" width="40px">
    </ng-template>

    <p class="h3">{{ profile?.username }}</p>

    <div *ngIf="(profile | json) !== '{}'">
        <div *ngIf="canFollow()">
            <div *ngIf="isFollowing(); then unfollow_button else follow_button"></div>
            <ng-template #unfollow_button>
                <button type="button" class="btn btn-primary" (click)="unfollow()">Unfollow</button>
            </ng-template>
            <ng-template #follow_button>
                <button type="button" class="btn btn-primary" (click)="follow()">Follow</button>
            </ng-template>
        </div>
    </div>

    <hr>
    <table>
        <tr>
            <th>Rides</th>
            <th>Followers</th>
            <th>Following</th>
        </tr>
        <tr>
            <td>0</td>
            <td>{{profile?.followers?.length}}</td>
            <td>{{profile?.following?.length}}</td>
        </tr>
    </table>
    <hr>
    <p class="lead">{{ profile?.bio }}</p>
</div>