body {
    font-weight: bold;
    font-family: Georgia, Serif;
}

.h3 {
    text-align: center;
}

table {
    width: 100%;
    border: transparent;
}

th {
    text-align: left;
    font-size: smaller;
    font-weight: 800;
}

td {
    vertical-align:middle;
    text-align: left;
    font-size: large;
    color: #6495ED;
}

img {
    text-align: center;
    margin: auto;
}

.lead {
    text-align: center;
    font-size: small;
}