<div class="container">
    <mat-card class="image-container">
        <img [src]="background_image" class="cover">
    </mat-card>
    <img [src]="profile_picture" class="profile-picture">
    <img [src]="flag_dictionary.get('United States of America')" class="flag">
    <div class="left">
        <div class="profile-info">
            <h2 [ngStyle]="{'color': color_dictionary.get('primary')}"> {{ profile?.display_name }} </h2>
            <br>
            <a [ngStyle]="{'color': color_dictionary.get('address')}" (click)="onAddressClick()"> @{{ profile?.user_address }}</a>
            <p> {{ profile?.bio }} </p>
        </div>
        <mat-card class="image-card-container">
            <div class="image-card-stat-container">
                <div class="image-card-stat">
                    <p class="image-card-paragraph">Lines</p>
                    <p class="image-card-stat-number" [ngStyle]="{'color': color_dictionary.get('address')}">0</p>
                </div>
                <div class="image-card-stat">
                    <p class="image-card-paragraph">Followers</p>
                    <p class="image-card-stat-number" [ngStyle]="{'color': color_dictionary.get('address')}">0</p>
                </div>
                <div class="image-card-stat">
                    <p class="image-card-paragraph">Following</p>
                    <p class="image-card-stat-number" [ngStyle]="{'color': color_dictionary.get('address')}">0</p>
                </div>
                <div class="image-card-stat">
                    <p class="image-card-paragraph">Posts</p>
                    <p class="image-card-stat-number" [ngStyle]="{'color': color_dictionary.get('address')}">0</p>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="right">
        <mat-card class="user-activity">
            <app-user-activity [ngStyle]="{'width': '100%'}" [ngStyle]="{'color': 'white'}"></app-user-activity>
        </mat-card>
    </div>

</div>
