@import '../lib/colors';
@import '../lib/effects';
$writer-size: 45px;
$writer-icon-size: 25px;
$writer-max-height: 600px;
$writer-transition: 0.5s ease-in;

.announcement-writer-icon {
    position: fixed;
    cursor: pointer;
    background-color: color('primary');
    right: 0;
    top: 20%;
    border-bottom-left-radius: $writer-size / 2;
    border-top-left-radius: $writer-size / 2;
    height: $writer-size * 1.2;
    width: $writer-size * 1.8;
    box-shadow: effect('element-shadow');

    fa-icon {
        position: absolute;
        right: 25px;
        top: ($writer-size * 1.2) / 5;
        color: white;
    }
}

.announcement-writer {
    width: 100%;
    max-height: 65px;
    background-color: #1B1E1B;
    display: flex;
    transition: max-height $writer-transition;

    &_open {
        max-height: $writer-max-height;
    }

    &__image {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: white;

        &__container {
            width: 45px;
            height: 45px;
            margin: 10px 10px 0 20px;
        }
    }

    &__textwriter {
        max-height: $writer-max-height - 48px;
        min-height: 45px;
        width: 100%;
        border-radius: 10px;
        padding: 12px;
        resize: none;
        overflow: hidden;
        border: none;
        cursor: text;
        background-color: white;
        transition: min-height $writer-transition;

        &[contenteditable=true]:empty:before {
            content: attr(placeholder);
            display: block; /* For Firefox */
        }

        &_open {
            min-height: 100px;
        }

        &__container {
            flex: 1;
            margin: auto 5px auto 5px;
            padding: 10px;
            width: 100%;
        }
    }
}
