@import '../lib/colors';

.button-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;

    &:hover, &:focus {
        opacity: 0.85;
    }

    &:disabled {
        opacity: 0.65;
    }
}