$input-timing: $timing-quick;
$input-label-transition: font $input-timing ease, top $input-timing ease, transform 0.1s ease,
  -webkit-transform $input-timing ease, -moz-transform $input-timing ease, -o-transform $input-timing ease;

.input {
  background: #333;
  border-radius: 4px;
  border: 0;
  color: $color-white;
  height: 50px;
  line-height: 50px;
  padding: 16px 20px 0;
  width: 100%;

  &:focus {
    outline-color: $color-primary-light;
    background: #454545;

    + label {
      top: 5px;
      font-size: 10px;
    }
  }

  + label {
    position: absolute;
    top: 25px;
    font-size: 14px;
    left: 10px;
    color: #8c8c8c;
    transition: $input-label-transition;
  }

  &--active {
    + label {
      top: 5px;
      font-size: 10px;
    }
  }
}

.ng-invalid .ng-touched {
  outline-offset: -2px;
  outline: $color-accent auto 5px;
}

.ng-valid {
  outline-color: $color-primary-light !important;
}

.input-light {
  background: $color-ice;
  border-radius: 4px;
  border: 0;
  color: $color-black;
  height: 50px;
  line-height: 50px;
  padding: 16px 20px 0;
  width: 100%;

  &--active {
    border: 2px solid $color-black;
  }

  &:focus {
    outline: 2px solid $color-accent;
  }

  &:disabled {
    background: $color-gray;
  }
}
