$side-width: 285px;
$side-padding: 15px;

.home-page {
  &__main {
    flex: 1;
    box-shadow: $effect-box-shadow-card;
    height: fit-content;
  }

  &__side-left {
    width: $side-width;
    padding-right: $side-padding;
  }

  &__side-right {
    width: $side-width;
    padding-left: $side-padding;
  }
}
