@import '../lib/colors';

.landing-page {
    &__background-container {
        min-height: 100vh;
        padding: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__container-card {
        background-color: $color-opaque-overlay-black;
        margin: 40px auto;
        width: 400px;
        padding: 50px;
        height: 500px;
    }

    &__spacer {
        margin: 30px 0;
        background-color: $color-primary-light;
        height: 2px;

        &--small {
            margin-bottom: 10px;
        }
    }

    &__alternative-actions {
        display: flex;

        > div {
            flex: 1;
            color: $color-primary-light;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                text-decoration-color: $color-primary-light;
            }
        }

        &--right-aligned {
            text-align: right;
        }

        &--left-aligned {
            text-align: left;
        }
    }

    &__login-item {
        min-height: 100px;
        width: 100%;
        color: $color-white;

        &__header {
            color: $color-white;
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
        }
    }

    &__button {
        width: 100%;
        background-color: $color-primary-light;
        color: black;
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 20px;

        &:hover {
            * &:after {
                content: "";
                position: absolute;
                height: 2px;
                background-color: white;
                bottom: 5px;
                width: 100%;
            }
        }
    }

    &__sign-up-button-container {
        position: relative;
        width: 100%;
        height: 70px;
    }

    &__social-item {
        width: 50%;
        padding: 10px 20px;

        &__button {
            width: 100%;
        }
    }

    &__error-message {
        color: red;
        font-weight: 700;
        margin: 2px 0 0 10px;
        font-size: 14px;
        display: block;
    }
}