@import '../lib/colors';
@import '../lib/fonts';

$hero-image-size: 250px;

.profile {
    background-color: $color-primary !important;
    background-image: none !important;
    min-height: 100vh;
    color: $color-white;

    &__hero {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &__header {
            display: flex;
            margin: auto;
            width: 620px;
        }

        &__image {
            display: block;
            margin: auto;
            height: $hero-image-size;
            width: $hero-image-size;
            border-radius: 50%;
            border: 5px solid $color-primary;
            margin-top: -($hero-image-size / 2);
        }

        &__flag {
            width: 80px;
            height: 80px;
            margin-top: -40px;
            margin-left: 70px;
        }

        &__button {
            margin-top: -25px;
        }

        &__username {
            padding-top: 5px;
            text-align: center;
            font-size: $font-size-large;
            color: $color-tertiary-light;
        }

        &__description {
            margin: 40px auto 0 auto;
            width: 300px;
            color: $color-white;
            text-align: center;

            &__spacer {
                height: 3px;
                width: 100%;
                background-color: $color-white;
                margin: 10px 0;
            }
        }
    }
}