<div class="post-writer-icon">
    <fa-icon [icon]="icon" size="2x"></fa-icon>
</div>
<div #writerContainer class="post-writer">
    <div class="post-writer__image__container">
        <img [src]="defaultImage" class="post-writer__image">
    </div>
    <div class="post-writer__textwriter__container">
        <div contentEditable="true"
             (input)="userInput=$event.target.textContent"
             #writer
             placeholder="Whats happening?"
             class="post-writer__textwriter"
             (click)="expand()"></div>
        <div class="post-writer__actions">
            <button class="button-action">Video <i class="fa fa-video"></i></button>
            <button class="button-action">Image <i class="fa fa-file-image"></i></button>
            <button class="button-action button-action--highlighted">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</div>