<div class="container">
    <mat-card class="card-container">
        <div class="dropdown-header" (click)="onProfileClick()">
            <div *ngIf="hasImage(); then original_img else default_img"></div>
            <ng-template #original_img>
                <img src="{{userProfile?.picture}}" class="avatar" alt="avatar">
            </ng-template>
            <ng-template #default_img>
                <i class="material-icons">account_circle</i>
            </ng-template>
            <h5>{{ userProfile?.email}}</h5>
            <h4>{{ profile?.display_name }}</h4>
        </div>
        <div class="dropdown-menu-container">
            <ul class="menu-container">
                <li class="menu-item" (click)="onSettingsClick()">
                    <p>Settings</p>
                </li>
                <li class="menu-item" (click)="onProfileClick()">
                    <p>UserProfile</p>
                </li>
                <li class="menu-item" (click)="onLogout()">
                    <p>Sign Out</p>
                </li>
            </ul>
        </div>
    </mat-card>
</div>