<div class="edit-overlay">
    <div class="width-container-flex edit-overlay__container">
        <div class="grid-left">
            <button class="button-primary" (click)="finishEdit()">SAVE</button>
        </div>
        <div class="grid-main edit-overlay__main-container">
            <div class="edit-overlay__title-container">
                <i class="material-icons">edit</i>
                <h4 class="edit-overlay__title">Edit mode</h4>
                <i class="material-icons">edit</i>
            </div>
        </div>
        <div class="grid-right">
            <button class="button-action" (click)="cancelEdit()">CANCEL</button>
        </div>
    </div>
</div>