.component-container {
    position: absolute;
    background: #fffafa url("https://www.transparenttextures.com/patterns/beige-paper.png");
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    padding-top: 70px;
    padding-right: 220px;
    overflow-y: scroll;
    max-height: 100vh;
}