$side-width: 285px;
$side-padding: 15px;

.width-container {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.width-container-flex {
  display: flex;
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.grid-main {
  flex: 1;
}

.grid-right {
  min-width: $side-width;
  width: 15%;
  padding-left: $side-padding;

  &--align {
    text-align: right;
  }
}

.grid-left {
  min-width: $side-width;
  width: 15%;
  padding-right: $side-padding;
}

.grid-half {
  width: 50%;
}

.grid-third {
  width: 33.33%;
}

.grid-two-thirds {
  width: 66.66%;
}

.masonry-item {
  margin-bottom: 20px;
  width: calc((100% - 40px) / 3);
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
}

.flex-1 {
  flex: 1;
}
