@import 'lib/colors';
@import 'lib/effects';

$background-color: rgba(#fff, 1);
$background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
$sidenav-width: 220px;

.app-header {
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 56px;
        max-height: 64px;
        padding-top: 5px;
        opacity: 1;
        background-color: $color-primary;
        z-index: 10;
        box-shadow: effect('header-box-shadow');
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;

        &_expanded {
            height: 64px;
            max-height: 64px;
        }

        &_collapsed {
            max-height: 56px;
            opacity: 0.85;
            padding-top: 0;
        }
    }

    &__header {
        font-size: 45px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Berlin Sans FB", sans-serif;
        margin-left: 30px;
        color: white;
        text-shadow: effect('header-text-shadow');
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }
}

.app-container {
    position: fixed;
    width: 100%;
    background: $background-color $background-image;
    height: auto;
    min-height: 100vh;
    margin-left: $sidenav-width;
}

.page-container {
    position: absolute;
    background: $background-color $background-image;
    left: 0;
    right: -17px;
    padding-top: 100px;
    padding-right: 220px;
    overflow-y: scroll;
    max-height: 100vh;
}

.sidenav {
    &__container {
        background: $background-color $background-image;
        position: fixed;
        top: 0;
        left: 0;
        padding: 250px 20px;
        width: $sidenav-width;
        height: 100%;
        z-index: 2;
    }

    &__list {
        list-style: none;
        text-align: right;
        font-weight: 500;
        font-size: 16px;
        color: $color-primary;
        transition: color 0.35s ease-in-out;

        li {
            cursor: pointer;
            text-transform: lowercase;

            i {
                opacity: 0;
                transition: opacity 0.35s ease-in-out;
            }

            &:hover, &:focus, &.active {
                outline: none;
                color: $color-primary-light;

                i {
                    opacity: 1;
                }
            }
        }
    }

    &__border {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $color-primary;
        width: 1px;
        height: 78%;
        margin-top: 64%;
    }
}