<div class="landing-page__background-container" [ngStyle]="{'background-image': 'url('+background+')'}">
    <header>
        <div class="landing-page__header">
            <h1>Freeraida</h1>
        </div>
    </header>

    <mat-card class="landing-page__container-card">
        <div class="landing-page__login-item">
            <!-- Credential login -->
            <h2 class="landing-page__login-item__header">Login</h2>
            <form [formGroup]="loginForm" class="landing-page__login-item__child" (ngSubmit)="onLogin()">
                    <div class="form-group landing-page__form-element">
                        <label for="login-username-email">Username or email address</label>
                        <input type="text" class="form-control" id="login-username-email" placeholder="Enter username or email" formControlName="user_input" (focusout)="reColor()" required>
                    </div>
                    <div class="form-group landing-page__form-element">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password" (focusout)="reColor()" required>
                    </div>
                    <div class="landing-page__form-element landing-page__sign-up-button-container">
                        <button type="submit" class="btn btn-primary landing-page__button">Login</button>
                    </div>
            </form>
        </div>
        <hr>
        <div class="landing-page__login-item">
            <!-- Social login -->
            <h2 class="landing-page__login-item__header">Login with a social account</h2>
            <div class="landing-page__login-item__child">
                <div class="landing-page__social-item">
                    <button mdbBtn mdbWavesEffect type="button" class="waves-light landing-page__social-item__button" color="danger">
                        <span class="fa fa-google-plus"></span> | Sign in with Google+
                    </button>
                </div>
                <div class="landing-page__social-item">
                    <button mdbBtn mdbWavesEffect type="button" class="waves-light landing-page__social-item__button" color="info">
                        <span class="fa fa-twitter"></span> | Sign in with Twitter
                    </button>
                </div>
            </div>
            <div class="landing-page__login-item__child">
                <div class="landing-page__social-item">
                    <button mdbBtn mdbWavesEffect type="button" class="waves-light landing-page__social-item__button" color="primary">
                        <span class="fa fa-facebook"></span> | Sign in with Facebook
                    </button>
                </div>
                <div class="landing-page__social-item">
                    <button mdbBtn mdbWavesEffect type="button" class="waves-light landing-page__social-item__button" color="secondary">
                        <span class="fa fa-instagram"></span> | Sign in with Instagram
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="landing-page__login-item">
            <!-- Sign up -->
            <h2 class="landing-page__login-item__header">Don't have an account? Sign up!</h2>
            <form [formGroup]="signUpForm">
                <div class="landing-page__enlist-row">
                    <div class="form-group landing-page__form-element">
                        <label for="sign-up-email">Email address</label>
                        <input type="email" class="form-control" id="sign-up-email" aria-describedby="sign-up-email-help" placeholder="Enter email" formControlName="email">
                        <mat-error *ngFor="let validation of messages.email">
                            <mat-error class="landing-page__error-message"
                                       *ngIf="signUpForm.get('email').hasError(validation.type) &&
                                       (signUpForm.get('email').dirty ||
                                       signUpForm.get('email').touched)">* {{validation.message}}</mat-error>
                        </mat-error>
                        <small id="sign-up-email-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group landing-page__form-element">
                        <label for="sign-up-username">Username</label>
                        <input type="text" class="form-control" id="sign-up-username" aria-describedby="sign-up-username-help" placeholder="Enter username" formControlName="username">
                        <mat-error *ngFor="let validation of messages.username">
                            <mat-error class="landing-page__error-message"
                                       *ngIf="signUpForm.get('email').hasError(validation.type) &&
                                       (signUpForm.get('email').dirty ||
                                       signUpForm.get('email').touched)">* {{validation.message}}</mat-error>
                        </mat-error>
                        <small id="sign-up-username-help" class="form-text text-muted">Username must be unique</small>
                    </div>
                </div>
                <div class="landing-page__enlist-row">
                    <div class="form-group landing-page__form-element">
                        <label for="sign-up-firstName">Firstname</label>
                        <input type="text" class="form-control" id="sign-up-firstName" placeholder="John" formControlName="firstName">
                    </div>
                    <div class="form-group landing-page__form-element">
                        <label for="sign-up-surName">Surname</label>
                        <input type="text" class="form-control" id="sign-up-surName" placeholder="Doe" formControlName="surName">
                    </div>
                </div>
                <div class="landing-page__enlist-row">
                    <div class="form-group landing-page__form-element">
                        <label for="sign-up-password">Password</label>
                        <input type="password" class="form-control" id="sign-up-password" aria-describedby="sign-up-password-help" placeholder="Enter password" formControlName="password">
                        <small id="sign-up-password-help" class="form-text text-muted">Must be at least 7 characters long</small>
                    </div>
                    <div class="form-group landing-page__form-element">
                        <label for="sign-up-password-repeat">Repeat password</label>
                        <input type="password" class="form-control" id="sign-up-password-repeat" placeholder="Repeat password" formControlName="password_repeat">
                    </div>
                </div>
                <div class="landing-page__enlist-row">
                    <div class="form-group landing-page__form-element">
                        <label for="country-select">Country</label>
                        <select class="form-control" id="country-select">
                            <option *ngFor="let country of countryList">{{ country }}</option>
                        </select>
                    </div>
                    <div class="landing-page__form-element landing-page__sign-up-button-container">
                        <button id="sign-up-button" class="btn btn-primary landing-page__button" type="submit">Sign up <i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>
