mat-expansion-panel {
    border-left: solid 5px;
}

h5 {
    font-weight: bold;
}

.attribute-indicator {
    height: 100%;
    width: 10px;
    float: left;
    margin-right: 10px;
}

#indicators {
    margin-left: 50px;
}