<mat-expansion-panel (closed)="onCollapse()" (opened)="onExpand()" [ngStyle]="{'border-left': color_dictionary.get(line?.line_type)}">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h5>{{line?.name}}</h5>
            <div id="indicators">
                <div class="attribute-indicator" [ngStyle]="{'background-color': color_dictionary.get(line?.danger_level.toLowerCase())}"></div>
                <div class="attribute-indicator" [ngStyle]="{'background-color': color_dictionary.get(line?.tree_level.toLowerCase())}"></div>
                <div class="attribute-indicator" [ngStyle]="{'background-color': color_dictionary.get(line?.rock_level.toLowerCase())}"></div>
                <div class="attribute-indicator" [ngStyle]="{'background-color': color_dictionary.get(line?.cliff_level.toLowerCase())}"></div>
            </div>
        </mat-panel-title>
        <mat-panel-description>
            <p [ngStyle]="{'color': color_dictionary.get(line?.line_type?.toLowerCase())}">{{line?.line_type}}</p>
            <div class="right-desc">
                <button class="list-delete-item" mat-icon-button (click)="onDelete()">
                    <mat-icon>delete</mat-icon>
                </button>
                <p>{{line?.timestamp}}</p>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="isExpanded">
        <div class="left">
            <app-height-map [line]="line"></app-height-map>
        </div>
        <div class="right">
            <app-line-map [line]="line"></app-line-map>
        </div>
    </div>

</mat-expansion-panel>