<div class="form-container">
    <form [formGroup]="registration_form" (ngSubmit)="onSubmit(registration_form.value)">
        <div class="form-element">
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email" value="aaa@test.com" type="email" ([ngModel])="form.email">
            </mat-form-field>
        </div>

        <div class="form-element">
            <mat-form-field>
                <input formControlName="username" matInput placeholder="Username" value="username" ([ngModel])="form.username">
            </mat-form-field>
        </div>

        <div class="form-element">
            <mat-form-field>
                <input formControlName="password" matInput placeholder="Password" type="password" ([ngModel])="form.password">
            </mat-form-field>
        </div>

        <div class="form-element">
            <mat-form-field>
                <input formControlName="password_confirmation" matInput placeholder="Repeat password" type="password" ([ngModel])="form.password_confirmation">
            </mat-form-field>
        </div>
    </form>
</div>
