<div class="form-container">
    <form [formGroup]="registration_form" (ngSubmit)="onSubmit(registration_form.value)">
        <div class="form-element">
            <label for="email">
                <span>Email</span>
                <input name="email" id="email" [formControl]="registration_form.controls['email']" type="email">
            </label>
        </div>

        <div class="form-element">
            <label for="username">
                <span>Username</span>
                <input name="username" id="username" [formControl]="registration_form.controls['username']" type="text">
            </label>
        </div>

        <div class="form-element">
            <label for="password">
                <span>Username</span>
                <input name="password" id="password" [formControl]="registration_form.controls['password']" type="password">
            </label>
        </div>

        <div class="form-element">
            <label for="password_confirmation">
                <span>Repeat password</span>
                <input name="password_confirmation" id="password_confirmation" [formControl]="registration_form.controls['password_confirmation']" type="password">
            </label>
        </div>
    </form>
</div>
