<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>freeraida</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--material theme-->
    <link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css"><link>

</head>
<body>
<app-root>loading ...</app-root>
<script src="https://apis.google.com/js/platform.js"></script>
<script>
  window.__env = window.__env || {};
  window.__env.GOOGLE_MAPS_API_KEY = {{{googleMapsApiKeyJson}}};
</script>
<!--<script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>-->
<!--<script src="node_modules/chart.js/src/chart.js"></script>-->
<link rel="stylesheet" href="/js/app/browser/styles.css" />
<script src="/js/app/browser/main.js" type="module"></script>

</body>
</html>