<div class="container">
    <h1>Settings</h1>
    <hr>
    <div class="left">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" formControlName="address" id="address" name="address" [(ngModel)]="form_address" required>
            </div>

            <hr>




        </form>
        <form>
            <div class="form-group">
                <label for="representation">Represent country</label>
                <select id="representation" name="representation" class="form-control">
                    <option *ngFor="let flag of flag_list" [value]="flag">{{flag}}</option>
                </select>
            </div>

            <hr>

            <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="form_firstname">
            </div>

            <hr>

            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="form_surname">
            </div>

            <hr>

            <div class="form-group-large">
                <label for="bio">Bio</label>
                <textarea matInput matTextareaAutosize
                          type="text" class="form-control" id="bio" name="bio" [(ngModel)]="form_bio"></textarea>
            </div>

        </form>
    </div>
    <div class="right">
        <form>
            <h3>Social</h3>

            <hr>

            <div class="form-group">
                <label for="firstname"><img [src]="twitter">    Twitter https://twitter.com/    </label>
                <input type="text" class="form-control" id="twitter" name="twitter">
            </div>

            <hr>

            <div class="form-group">
                <label for="firstname"><img [src]="instagram">    Instagram https://www.instagram.com/    </label>
                <input type="text" class="form-control" id="instagram" name="instagram">
            </div>

            <hr>

        </form>
    </div>
    <div class="footer">
        <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!form.valid">Save</button>
    </div>


</div>