<div class="container">
    <div *ngIf="auth_service?.isWelcome">
        <mat-card class="welcome">
            <h2>Welcome</h2>
            <p>This is your first time visiting freeraida.com. You need to provide some details to continue to the site. Every user needs to have a unique address</p>
        </mat-card>
    </div>
    <h1>Settings</h1>
    <hr>
    <div class="left">
        <form [formGroup]="form">
            <div class="form-group">

                <label for="address">Address</label>
                <input type="text" class="form-control" formControlName="address" id="address" name="address" [attr.disabled]="is_welcome?false:null" [(ngModel)]="form_address" required>
                <div id="address-div" *ngIf="auth_service?.isWelcome">
                    <div *ngIf="form_canActivate; then available else not_available"></div>
                    <ng-template #available>
                        <i class="material-icons" [ngStyle]="{'color': color_dictionary.get('available')}">check_circle</i>
                    </ng-template>
                    <ng-template #not_available>
                        <i class="material-icons" [ngStyle]="{'color': color_dictionary.get('not-available')}">not_interested</i>
                    </ng-template>
                    <p>* Is required, and must be unique.</p>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" class="form-control" formControlName="firstname" id="firstname" name="firstname" [(ngModel)]="form_firstname" required>
            </div>
            <hr>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" formControlName="surname" id="surname" name="surname" [(ngModel)]="form_surname" required>
            </div>
            <hr>
        </form>
        <form>
            <div class="form-group">
                <label for="representation">Represent country</label>
                <select id="representation" name="representation" class="form-control">
                    <option *ngFor="let flag of flag_list" [value]="flag">{{flag}}</option>
                </select>
            </div>

            <hr>

            <div class="form-group-large">
                <label for="bio">Bio</label>
                <textarea matInput matTextareaAutosize
                          type="text" class="form-control" id="bio" name="bio" [(ngModel)]="form_bio"></textarea>
            </div>

        </form>
    </div>
    <div class="right">
        <form>
            <h3>Social</h3>

            <hr>

            <div class="form-group">
                <label for="firstname"><img [src]="twitter">    Twitter https://twitter.com/    </label>
                <input type="text" class="form-control" id="twitter" name="twitter">
            </div>

            <hr>

            <div class="form-group">
                <label for="firstname"><img [src]="instagram">    Instagram https://www.instagram.com/    </label>
                <input type="text" class="form-control" id="instagram" name="instagram">
            </div>

            <hr>

        </form>
    </div>
    <div class="footer">
        <button type="submit" class="btn btn-success" (click)="onSubmit(form)" [disabled]="!form_canActivate">Save</button>
    </div>


</div>