.container {
    height: 100%;
    width: 100%;
}

.left {
    width: 50%;
    height: 600px;
    display: inline-block;
    float: left;
    padding: 20px;
}

.right {
    width: 50%;
    display: inline-block;
    height: 600px;
    float: left;
    padding: 20px;
}

.btn {
    float: right;
}

labal {
    display: inline-block;
}

.form-control {
    display: inline-block;
    width: 50%;
    float: right;
}

.footer {
    margin-top: 50px;
    width: 100%;
    display: block;
    float: bottom;
}

.form-group-large {
    min-height: 300px;
}

mat-form-field {
    height: 100%;
}

textarea {
    min-height: 200px;
}

img {
    height: 25px;
    width: 25px;
}

#instagram {
    width: auto;
}