button {
    color: var(--colorWhite);
    background-color: var(--colorDark);
    border: none;
    font-weight: 200;
    font-family: Impact;
    letter-spacing: 2px;
    font-size: large;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    color: var(--colorWhite);
}

button:hover {
    background-color: var(--colorDarkLight);
    border-color: var(--colorDarkLight);
    -webkit-transition: background-color 300ms ease-in;
    -ms-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
    box-shadow: none;
}

button:focus {
    outline: none;
}