button {
    color: var(--colorWhite);
    background-color: var(--colorDark);
    border-color: var(--colorDark);
    box-shadow: 1px 1px 1px var(--colorDark);
    font-weight: 300;
    font-family: Impact;
    letter-spacing: 2px;
    font-size: x-large;
    width: 200px;
    height: 50px;
}

button:hover {
    background-color: var(--colorPrimaryLighter);
    border-color: var(--colorPrimaryLighter);
    box-shadow: none;
}

button:focus {
    outline: none;
}