<form class="form-container" [formGroup]="form" >
    <div class="form-element">
        <label for="username" >

            <input id="username" name="username_email" formControlName="username_email" type="text">
            <span>Username or email</span>
        </label>
    </div>
    <div class="form-element">
        <label for="password" >

            <input id="password" name="password" formControlName="password" type="password">
            <span>Password</span>
        </label>
    </div>
</form>
<div class="action-line">
    <app-asset-button-submit [text]="submitText"></app-asset-button-submit>
</div>
