<div class="container">
    <div id="left">
        <mat-card class="track-card-left">
            <div class="card-header-div"><h2>Ascent</h2></div>
            <img [src]="ascent">
        </mat-card>
    </div>
    <div id="middle">
        <mat-card class="track-card-middle">
            <div class="card-header-div"><h2>Descent</h2></div>
            <img [src]="descent">
        </mat-card>
    </div>
    <div id="right">
        <mat-card class="track-card-right">
            <div class="card-header-div"><h2>Tour</h2></div>
            <img [src]="tour">
        </mat-card>
    </div>
</div>