header {
    position: fixed;
    margin: auto;
    overflow: hidden;
    margin: 10% 0 0 10%;
}

button {
    height: 80px;
    width: 60%;
    font-weight: bold;
    font-size: larger;
}

p {
    display: inline;
}

.information {
    margin: 10px;
}

.signature-card {
    z-index: 2;
    width: 80%;
    min-width: 300px;
    align-content: center;
    text-align: center;
    height: 80%;
}

.background {
    position: fixed;
    min-height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    z-index: -2;
}

.header-img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: auto;
}