header {
    position: fixed;
    margin: auto;
    overflow: hidden;
    margin: 10% 0 0 10%;
}

button {
    height: 80px;
    width: 60%;
    font-weight: bold;
    font-size: larger;
}

.signature-card {
    z-index: 2;
    width: 500px;
    background-color: white;
    align-content: center;
    text-align: center;
    height: 500px;
}

.background {
    position: fixed;
    min-height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    z-index: -2;
}

.header-img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: auto;
}