<a class="line-summary" [routerLink]="'/line/' + line._id">
  <div class="line-summary__map" [ngStyle]="{ borderColor: COLOR_DICTIONARY.get(line.sport) }">
    <app-line-map-list [line]="line"></app-line-map-list>
  </div>
  <div class="line-summary__content">
    <div class="line-summary__band-aid" [ngStyle]="{ backgroundColor: COLOR_DICTIONARY.get(line.sport) }"></div>
    <div class="line-summary__container">
      <div class="line-summary__height-map">
        <app-height-map
          [lineSegments]="line.segments"
          [color]="COLOR_DICTIONARY.get(line.sport)"
          [hideLegend]="hideHeightMapLegend"
        ></app-height-map>
      </div>
      <div class="line-summary__metrics">
        <div class="line-summary__header">
          <h5>
            <span class="line-summary__title-icon" *ngIf="isSkiSport(line.sport)"><icon-ski></icon-ski></span>
            <span class="line-summary__title-icon" *ngIf="isSnowboardSport(line.sport)"
              ><icon-snowboard></icon-snowboard
            ></span>
            <span>{{ line.name }}</span>
          </h5>
        </div>
        <div class="line-summary__metric-grid">
          <div class="line-summary__metric-cell">
            <span>Total</span>
            <strong>{{ formatDistance(summaryMetrics.totalDistanceKm) }}</strong>
          </div>
          <div class="line-summary__metric-cell">
            <span>Ascend</span>
            <strong>{{ formatMeters(summaryMetrics.totalAscentMeters) }}</strong>
            <small>{{ formatDistance(summaryMetrics.ascendDistanceKm) }}</small>
          </div>
          <div class="line-summary__metric-cell">
            <span>Descend</span>
            <strong>{{ formatMeters(summaryMetrics.totalDescendMeters) }}</strong>
            <small>{{ formatDistance(summaryMetrics.descendDistanceKm) }}</small>
          </div>
          <div class="line-summary__metric-cell">
            <span>Segments</span>
            <strong>{{ summaryMetrics.segmentCount }}</strong>
          </div>
          <div class="line-summary__metric-cell">
            <span>Points</span>
            <strong>{{ summaryMetrics.pointCount }}</strong>
          </div>
          <div class="line-summary__metric-cell">
            <span>Date</span>
            <strong>{{ formatDate(line.timestamp) }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
