<div class="profile-card">
    <img [src]="mockImage" class="profile-card__cover-image">
    <img [src]="defaultProfileImage" class="profile-card__profile-image">
    <div class="profile-card__header">
        <h3>{{userProfile?.firstname}} {{userProfile?.surname}}</h3>
        <div>@{{userProfile?.username}}</div>
    </div>
    <hr>
    <div [ngStyle]="{opacity: .6}">#sports</div>
    <hr>
    <div class="profile-card__stats">
        <div>
            <div>Posts</div>
            <div class="profile-card__stat-number">{{userProfile?.posts?.length}}</div>
        </div>
        <div>
            <div>Following</div>
            <div class="profile-card__stat-number">{{userProfile?.following?.length}}</div>
        </div>
        <div>
            <div>Followers</div>
            <div class="profile-card__stat-number">{{userProfile?.followers?.length}}</div>
        </div>
    </div>
</div>