html, body, sidenav-container, .sidenav-content {
    margin: 0;
    width: 100%;
    height: 100%;
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav-container {
    color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav {
    background-color: #1E2934;
    width: 100px;
    height: 100%;
}

.row-icon {
    align-content: center;
    text-align: center;
    vertical-align: middle;
    height: 20px;
}

.content {
    height: 100%;
    width: 100%;
}