html, body, sidenav-container, .sidenav-content {
    margin: 0;
    width: 100%;
    height: 100%;
}

.sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav-container {
    color: white;
    height: 100%;
    width: 100%;
}

.sidenav {
    background-color: #1E2934;
    width: 200px;
    height: 100%;
}

.row-icon {
    align-content: center;
    text-align: center;
    vertical-align: middle;
    height: 20px;
}

.content {
    height: 100%;
    width: 100%;
}

.expand-collapse-button {
    color: black;
    background-color: transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.material-icons {
    height: 100%;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

h3 {
    font-size: large;
    font-weight: 500;
}

.main-item {
    align-content: center;
    vertical-align: middle;
}