<mat-sidenav-container class="sidenav-container">
    <div *ngIf="isExpanded(); then expanded_sidenav else collapsed_sidenav"></div>
    <ng-template #expanded_sidenav>
        <ul class="expanded-sidenav">
            <li class="menu-list-item" (click)="onCollapse();"><div class="menu-item-container"><span>
                <div class="expanded-list-container"><i class="material-icons">chevron_left</i><p>Collapse</p></div>
            </span></div></li>
            <li class="menu-list-item"><div class="menu-item-container"><span>
                <div class="expanded-list-container"><i class="material-icons">home</i><p>Dashboard</p></div>
            </span></div></li>
            <li class="menu-list-item"><div class="menu-item-container"><span>
                <div class="expanded-list-container"><i class="material-icons">landscape</i><p>Rides</p></div>
            </span></div></li>
            <li class="menu-list-item"><div class="menu-item-container"><span>
                <div class="expanded-list-container"><i class="material-icons">location_on</i><p>Live tracker</p></div>
            </span></div></li>
            <li class="menu-list-item"><div class="menu-item-container"><span>
                <div class="expanded-list-container"><i class="material-icons">verified_user</i><p>User center</p></div>
            </span></div></li>
        </ul>
    </ng-template>
    <ng-template #collapsed_sidenav>
        <ul class="collapsed-sidenav">
            <li class="menu-list-item" (click)="onExpand();"><div class="menu-item-container"><span><i class="material-icons">chevron_right</i></span></div></li>
            <li class="menu-list-item"><div class="menu-item-container"><span><i class="material-icons">home</i></span></div></li>
            <li class="menu-list-item"><div class="menu-item-container"><span><i class="material-icons">landscape</i></span></div></li>
            <li class="menu-list-item"><div class="menu-item-container"><span><i class="material-icons">location_on</i></span></div></li>
            <li class="menu-list-item"><div class="menu-item-container"><span><i class="material-icons">verified_user</i></span></div></li>
        </ul>
    </ng-template>



    <!--<button class="expand-collapse-button" type="button" mat-button (click)="sidenav.close(); onCollapse();">-->
    <!--<i class="material-icons">chevron_left</i>-->
    <!--</button>-->

    <!--<button class="expand-collapse-button" type="button" mat-button (click)="sidenav.open(); onExpand();">-->
    <!--<i class="material-icons">chevron_right</i>-->
    <!--</button>-->

    <!--<mat-sidenav #sidenav class="sidenav" mode="side" open="true">-->
    <!--<mat-expansion-panel class="main-item" [disabled]="true">-->
    <!--<mat-expansion-panel-header>-->
    <!--<mat-panel-title>-->
    <!--<mat-icon>home</mat-icon>-->
    <!--</mat-panel-title>-->
    <!--<mat-panel-description>-->
    <!--<h3>Dashboard</h3>-->
    <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->
    <!--</mat-expansion-panel>-->

    <!--<mat-expansion-panel open="true">-->
    <!--<mat-expansion-panel-header>-->
    <!--<mat-panel-title>-->
    <!--<mat-icon>landscape</mat-icon>-->
    <!--</mat-panel-title>-->
    <!--<mat-panel-description>-->
    <!--<h3>Rides</h3>-->
    <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-form-field>-->
    <!--<h3>Register ride</h3>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
    <!--<h3>Browse ride</h3>-->
    <!--</mat-form-field>-->
    <!--</mat-expansion-panel>-->

    <!--<mat-expansion-panel open="true">-->
    <!--<mat-expansion-panel-header>-->
    <!--<mat-panel-title>-->
    <!--<mat-icon>location_on</mat-icon>-->
    <!--</mat-panel-title>-->
    <!--<mat-panel-description>-->
    <!--<h3>Live tracker</h3>-->
    <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-form-field>-->
    <!--<h3>Track ride</h3>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
    <!--<h3>Track something</h3>-->
    <!--</mat-form-field>-->
    <!--</mat-expansion-panel>-->

    <!--<mat-list>-->
    <!--<mat-list-item>-->
    <!--<mat-card class="row-icon" (click)="onExpand()"><i class="material-icons">chevron_right</i></mat-card>-->
    <!--</mat-list-item>-->
    <!--<mat-list-item>-->
    <!--<mat-card class="row-icon"><i class="material-icons">home</i></mat-card>-->
    <!--</mat-list-item>-->
    <!--</mat-list>-->

    <!--</mat-sidenav>-->

    <div class="sidenav-content">
        <app-sidenav-content class="content"></app-sidenav-content>
    </div>

</mat-sidenav-container>