<div class="container explore-page">
  <h2>Explore</h2>
  <p *ngIf="isLoading">Loading lines...</p>
  <p *ngIf="hasError">Could not load explore lines right now.</p>

  <div class="explore-page__sport-filter" *ngIf="!isLoading && !hasError">
    <button
      *ngFor="let sport of sportFilters"
      type="button"
      class="explore-page__sport-option"
      [ngStyle]="getSportFilterStyles(sport)"
      [class.explore-page__sport-option--active]="selectedSportFilter === sport"
      (click)="onSportFilterChange(sport)"
    >
      {{ sport }}
    </button>
  </div>

  <google-map
    *ngIf="apiReady && !isLoading"
    [height]="'480px'"
    [width]="'100%'"
    [center]="center"
    [zoom]="zoom"
    [options]="options"
    (mapInitialized)="onMapInitialized()"
  >
    <map-polyline
      *ngFor="let segment of selectedSegmentPaths"
      [path]="segment.path"
      [options]="getPolylineOptions(segment.type)"
    ></map-polyline>
    <map-marker
      *ngIf="getSelectedStartPosition()"
      [position]="getSelectedStartPosition()"
      [options]="getSelectedStartMarkerOptions()"
    ></map-marker>
    <map-marker
      *ngIf="getSelectedEndPosition()"
      [position]="getSelectedEndPosition()"
      [options]="getSelectedEndMarkerOptions()"
    ></map-marker>
    <map-marker
      *ngFor="let line of lines"
      [position]="{ lat: line.startLocation.latitude, lng: line.startLocation.longitude }"
      [options]="getMarkerOptions(line)"
      (mapClick)="selectLine(line)"
    ></map-marker>
  </google-map>

  <p *ngIf="!isLoading && !hasError && lines.length === 0">No lines found yet.</p>

  <div *ngIf="selectedLine">
    <h4>{{ selectedLine.name }}</h4>
    <p>
      Created by <a [routerLink]="['/user', selectedLine.username]">{{ selectedLine.username }}</a>
    </p>
    <app-line-summary *ngIf="selectedLineDetails" [line]="selectedLineDetails"></app-line-summary>
    <a [routerLink]="['/line', selectedLine._id]">Open line details</a>
    <p *ngIf="isSelectedLineLoading">Loading selected line path...</p>
  </div>
</div>
