<div class="profile">
    <div class="profile__hero" [ngStyle]="{'background-image': 'url('+hero+')'}"></div>
    <div class="profile__stat-bar">
        <div class="width-container-flex">
            <div class="grid-left">
                <img [src]="profile_image" class="profile__image">
            </div>
            <div class="grid-main">
                <ul class="profile__stat-menu">
                    <li [routerLink]="['./'] " routerLinkActive="profile__tab--active" [routerLinkActiveOptions]="{exact: true}">
                        Posts
                        <span>{{ profile?.posts.length }}</span>
                    </li>
                    <li>
                        Reputation
                        <span>150.050</span>
                    </li>
                    <li [routerLink]="['lines']" routerLinkActive="profile__tab--active">
                        Lines
                        <span>{{ profile?.lines?.length }}</span>
                    </li>
                    <li>
                        Following
                        <span>{{ profile?.following?.length }}</span>
                    </li>
                    <li>
                        Followers
                        <span>{{ profile?.followers?.length }}</span>
                    </li>
                </ul>
            </div>
            <div class="grid-right"></div>
        </div>
    </div>
    <div class="profile__page-container">
        <router-outlet></router-outlet>
    </div>
</div>