.button-primary {
    background-color: #141D2F; // TODO
    border-color: #141D2F;
    color: white;

    &:hover, &:focus {
        opacity: 0.85;
    }

    &:disabled {
        opacity: 0.65;
    }
}