<div class="profile-card">
  <img [src]="mockImage" class="profile-card__cover-image" />
  <img [src]="defaultProfileImage" class="profile-card__profile-image" />
  <div class="profile-card__header">
    <h3>{{ user?.firstname }} {{ user?.surname }}</h3>
    <a class="profile-card__username" [routerLink]="'/user/' + user?.username">@{{ user?.username }}</a>
  </div>

  <div class="profile-card__sports-container">
    <i class="profile-card__sport-icon"><icon-ski></icon-ski></i>
    <i class="profile-card__sport-icon"><icon-snowboard></icon-snowboard></i>
    <i class="profile-card__sport-icon"><icon-mountaineering></icon-mountaineering></i>
  </div>

  <hr />

  <div class="profile-card__stats">
    <div>
      <div>Posts</div>
      <div class="profile-card__stat-number">{{ user?.posts?.length }}</div>
    </div>
    <div>
      <div>Following</div>
      <div class="profile-card__stat-number">{{ user?.following?.length }}</div>
    </div>
    <div>
      <div>Followers</div>
      <div class="profile-card__stat-number">{{ user?.followers?.length }}</div>
    </div>
  </div>
</div>
