@import '../lib/_colors';
@import '../lib/_effects';

.app-header {
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 56px;
        max-height: 64px;
        opacity: 1;
        background-color: color('primary');
        z-index: 10;
        box-shadow: effect('header-box-shadow');
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;

        &_expanded {
            height: 64px;
            max-height: 64px;
        }

        &_collapsed {
            max-height: 56px;
            opacity: 0.85;
        }
    }

    &__header {
        margin-left: 30px;
        color: white;
        font-weight: 900;
        text-shadow: effect('header-text-shadow');
    }
}