@import '../lib/_colors';
@import '../lib/_effects';

.app-header {
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        background-color: color('primary');
        z-index: 10;
        box-shadow: effect('header-box-shadow');
    }

    &__header {
        margin-left: 30px;
        color: white;
        font-weight: 900;
        text-shadow: effect('header-text-shadow');
    }
}