// TODO index file with 4 spaces
.landing-page {
    &__background-container {
        height: 100vh;
        overflow: hidden;
    }

    &__header {
        color: white;
        font-size: 60px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Berlin Sans FB", sans-serif;
        height: 50px;
        padding: 0 0 0 30px;
        background-color: #141D2F; // TODO
        z-index: 2;
    }

    &__container-card {
        background-color: white;
        margin: 40px auto;
        width: 1000px;
        padding: 50px;
    }

    &__login-item {
        min-height: 100px;
        width: 100%;

        &__child {
            display: flex;
        }
    }

    &__form-element {
        &__credentials {
            flex: 1;
            margin: 10px 40px;
        }

        &__enlist {
            flex: 1;
            margin: 10px 40px;
        }

        &__button-submit {
            align-self: center;
            margin: 0 40px;
            height: 50px;
            width: 200px;
        }
    }

    &__enlist-row {
        display: flex;
    }

    &__sign-up-button {
        width: 300px;
    }

    &__sign-up-button-container {
        width: 100%;
        text-align: right;
    }

    &__social-item {
        width: 50%;
        padding: 10px 20px;

        &__button {
            width: 100%;
        }
    }
}