<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="material-icons">location_on</i><h5>{{line?._id}}</h5>
        </mat-panel-title>
        <mat-panel-description>
            <p>{{line?.locations[line?.locations.length-1].time_at}}&#9;</p>

            <button class="list-delete-item" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-panel-description>
    </mat-expansion-panel-header>
</mat-expansion-panel>

