h5, h4, p {
    display: inline;
}

i {
    transform: translateY(+5px);
    margin-right: 10px;
}

button {
    float: right;
    position: relative;
    display: inline-block;
    margin-left: 100px;
}