<img class="background" src="{{descent}}">
<header>
    <mat-card class="signature-card" [ngStyle]="{'background-color': color_dictionary.get('primary'), 'color': 'white'}" >
        <img class="header-img" src="{{track_header}}">
        <hr>
        <div *ngIf="isTracking; then tracking_content else normal_content"></div>
        <ng-template #tracking_content>
            <button type="button" class="btn btn-danger" (click)="stopTracking()">STOP</button>
        </ng-template>
        <ng-template #normal_content>
            <button type="button" class="btn btn-success" (click)="startTracking()">START TRACKING</button>
        </ng-template>

        <hr>

        <div class="information">
            <label for="duration">Duration</label>
            <p id="duration">{{duration}}</p>
        </div>
        <hr>
        <div class="information">
            <label for="track_results">Location nodes tracked</label>
            <p id="track_results">{{tracked_line.locations.length}}</p>
        </div>
    </mat-card>
</header>
