.line-summary {
    display: flex;
    height: 250px;

    &__map {
        width: 250px;
        height: 100%;
    }

    &__content {
        flex: 1;
    }

    &__bandaid {
        margin: 10px 0;
        height: 5px;
    }
}