.line-overview {
  padding-bottom: 50px;

  &__rubric {
    position: relative;
    z-index: 2;
  }

  &__table {
    width: 450px;

    h4 {
      margin-top: 20px;
    }

    h5 {
      font-weight: 600;
      opacity: 0.6;
      margin-top: 10px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &__map-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100px;
  }

  &__map {
    position: absolute;
    right: 0;
    width: 502px;
  }

  &__header {
    color: $color-white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;

    > h1 {
      font-weight: 600;
      font-size: 40px;

      &:focus {
        outline: none;
      }
    }

    > h3 {
      margin-top: 10px;
      font-size: 20px;
      color: $color-secondary-colorado;
    }
  }

  &__edit-button {
    position: absolute;
    bottom: 20px;
    right: 55%;
  }

  &__color-box {
    height: 200px;
    position: relative;
  }

  &__color-box-second {
    height: 30px;
    margin-top: 30px;
  }

  &__color-box-third {
    height: 45px;
    margin-top: -1px;
    position: relative;
    z-index: 0;
  }

  &__height-map-container {
    padding-top: 5px;
    width: calc(50% + 100px);
    margin-left: -1px;
  }

  &__image {
    width: 45%;
    margin-top: -32px;
    position: relative;
    left: 20px;
  }
}
