.post {
    display: flex;

    &__image {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: white;
    }

    &__image-container {
        width: 45px;
        height: 45px;
        margin: 7px 7px 0 20px;
    }
}
