.post {
  background-color: $color-white;
  padding: 9px 12px;
  border-bottom: 1px solid lightgray;

  &__container {
    display: flex;
  }

  &__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
  }

  &__image-container {
    width: 45px;
    height: 45px;
    margin-right: 20px;
  }

  &__content {
    flex: 1;
  }

  &__username {
    display: inline-block;
    margin-bottom: 5px;
    color: $color-accent;

    &:focus,
    &:hover {
      color: rgba($color-accent, .8);
    }
  }

  &__name {
    font-weight: 600;
    color: $color-primary;
    display: inline-block;
    margin-right: 5px;
  }

  &__footer {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    padding-right: 15px;
  }

  &__gnarly-counter {
    margin: 0 10px 0 0;
    color: $color-accent;
    font-size: 14px;
    line-height: 24px;
  }

  &__gnarly {
    cursor: pointer;
    width: 20px;

    &.active svg {
      fill: $color-primary;
    }

    &:hover svg {
      stroke: $color-primary-light;
      fill: $color-primary-light;
    }

    svg {
      stroke: $color-primary;
      stroke-width: 5;
      fill: transparent;
      overflow: visible;
    }
  }
}
