$card-border: 2px solid $color-white;

.profile-card {
  position: relative;
  background-color: $color-white;
  padding-bottom: 20px;
  box-shadow: $effect-box-shadow-card;

  &__cover-image {
    width: 100%;
    height: 150px;
    border-bottom: $card-border;
  }

  &__sports-container {
    display: flex;
    padding: 20px 30px 0;
  }

  &__sport-icon {
    fill: $color-black;
    width: 30px;

    & + & {
      margin-left: 10px;
    }
  }

  &__profile-image {
    position: absolute;
    border-radius: 50%;
    height: 72px;
    width: 72px;
    left: 10px;
    top: 110px;
    border: $card-border;
    background-color: $color-white;
  }

  &__nation-image {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 55px;
    top: 166px;
    z-index: 1;
  }

  &__header {
    margin: 5px 0 0 90px;
    display: inline-block;

    > h3 {
      font-weight: 500;
      margin: 0;
    }
  }

  &__username {
    color: $color-accent;
  }

  &__stats {
    display: flex;

    > div {
      flex: 1;

      > div {
        text-align: center;
      }
    }
  }

  &__stat-number {
    font-weight: 600;
    font-size: 20px;
    color: $color-accent;
  }
}
