$card-border: 2px solid $color-white;

.profile-card {
    position: relative;
    background-color: $color-white;
    padding-bottom: 20px;
    box-shadow: $effect-box-shadow-card;

    &__cover-image {
        width: 100%;
        height: 150px;
        border-bottom: $card-border;
    }

    &__profile-image {
        position: absolute;
        border-radius: 50%;
        height: 72px;
        width: 72px;
        left: 10px;
        top: 110px;
        border: $card-border;
        background-color: $color-white;
    }

    &__header {
        margin: 5px 0 0 90px;
        display: inline-block;

        > h3 {
            font-weight: 500;
            margin: 0;
        }
    }

    &__stats {
        display: flex;

        > div {
            flex: 1;

            > div {
                text-align: center;
            }
        }
    }

    &__stat-number {
        font-weight: 600;
        font-size: 20px;
        color: $color-accent
    }
}