<agm-map class="line-creator__map"
         [mapTypeId]="'terrain'"
         [latitude]="45.8326222"
         [longitude]="6.8649248"
         [disableDefaultUI]="true"
         [zoom]="13"
>
    <agm-marker
            *ngFor="let loc of line.locations; let i = index"
            (markerClick)="clickedMarker(loc, i)"
            [latitude]="loc.latitude"
            [longitude]="loc.longitude"
            [markerDraggable]="false"
    >
        <agm-info-window>
            <strong>{{loc.latitude}} {{loc.longitude}}</strong>
            <br>
            <!--<a class="delete" (click)="removeMarker(m)">delete</a>-->
        </agm-info-window>
        <agm-polyline *ngFor="let item of polyCords"
                      [editable]="false"
                      strokeColor=""
                      strokeWeight="3"
                      [geodesic]="true"
        >
            <agm-polyline-point [latitude]="item.org_lat" [longitude]="item.org_lng"></agm-polyline-point>
            <agm-polyline-point [latitude]="item.destination_lat" [longitude]="item.destination_lng"></agm-polyline-point>
        </agm-polyline>
    </agm-marker>
</agm-map>