<agm-map [ngStyle]="{height: height + 'px'}"
         [mapTypeId]="'terrain'"
         [latitude]="latitude"
         [longitude]="longitude"
         [disableDefaultUI]="true"
         [zoom]="10"
>
    <agm-marker
            *ngFor="let loc of line.locations"
            [latitude]="loc.latitude"
            [longitude]="loc.longitude"
            [markerDraggable]="false"
    >
        <agm-info-window>
            <strong>{{loc.latitude}} {{loc.longitude}}</strong>
            <br>
            <!--<a class="delete" (click)="removeMarker(m)">delete</a>-->
        </agm-info-window>
        <agm-polyline *ngFor="let item of polyCoords"
                      [editable]="false"
                      strokeColor="#000000"
                      strokeWeight="3"
                      [geodesic]="false"
        >
            <agm-polyline-point [latitude]="item.org_lat" [longitude]="item.org_lng"></agm-polyline-point>
            <agm-polyline-point [latitude]="item.destination_lat" [longitude]="item.destination_lng"></agm-polyline-point>
        </agm-polyline>
    </agm-marker>
</agm-map>