<mat-sidenav-container class="auth-container">
    <div class="auth-header">
        <img class="logo" src="{{logo}}">
        <h2>Join the community</h2>
        <h4>Take it to the next level</h4>
    </div>
    <div *ngIf="isEnlistFormOpen; then enlistForm else loginForm"></div>
    <ng-template #enlistForm [@slideDown]>
        <app-register-prompt></app-register-prompt>
    </ng-template>
    <ng-template #loginForm>
        <app-login-prompt></app-login-prompt>
        <div class="spacer"></div>
        <div class="action-line">
            <app-asset-button-submit [text]="enlistText"></app-asset-button-submit>
        </div>
    </ng-template>

</mat-sidenav-container>
<div class="background">

</div>