<div class="category">
    <h2>Explore continents</h2>
    <ul>
        <li>
            <h5>Africa</h5>
        </li>
        <li>
            <h5>Antarctica</h5>
        </li>
        <li>
            <h5>Asia</h5>
        </li>
        <li>
            <h5>Europe</h5>
        </li>
        <li>
            <h5>North America</h5>
        </li>
        <li>
            <h5>South America</h5>
        </li>
        <li>
            <h5>Oceania</h5>
        </li>
    </ul>
</div>
<div class="category">
    <h2>Seven Summits</h2>
    <ul>
        <li>
            <h5>Mount Everest</h5>
        </li>
        <li>
            <h5>Aconcagua</h5>
        </li>
        <li>
            <h5>Denali</h5>
        </li>
        <li>
            <h5>Kilimanjaro</h5>
        </li>
        <li>
            <h5>Mount Elbrus</h5>
        </li>
        <li>
            <h5>Mount Vison</h5>
        </li>
        <li>
            <h5>Puncak Jaya</h5>
        </li>
        <li>
            <h5>Mount Kosciouszko</h5>
        </li>
    </ul>
</div>