<div class="container">
    <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm" class="post-input-form">
        <mat-form-field class="post-input-form-field">
            <input matInput
                    type="text"
                    id="content"
                    class="form-control"
                    [ngModel]="post?.content"
                    name="content"
                    required
            >
        </mat-form-field>
        <button mat-raised-button type="button" (click)="onClear(f)">Clear</button>
        <button mat-raised-button type="submit" class="button-submit">Save</button>
    </form>
</div>