.author {
    display: inline;
    font-weight: bold;
    font-size: large;
    color: #6495ED;
}

.date {
    display: inline;
    font-style: italic;
    font-weight: 600;
    color: #141D2F;
    opacity: 0.5;
}

