.left {
    width: 5%;
    height: 100%;
    display: inline-block;
    float: left;
}

.content {
    width: 90%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.author {
    display: inline;
    font-weight: bold;
    font-size: medium;
}

.post {
    min-height: 100px;
    height: auto;
    width: 100%;
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
}

.date {
    display: inline;
    font-style: italic;
    font-weight: 600;
    color: #141D2F;
    opacity: 0.5;
}

.post-content {
    min-height: auto;
}

.post-content-expanded {
    height: auto;
}

.post-actions {
    text-align: right;
    font-weight: 600;
    color: #141D2F;
    opacity: 0.9;
}

.right {
    float: right;
    width: 100px;
}

.gnarly {
    height: 30px;
    width: 30px;
    float: right;
}

.gnarly-amount {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: right;
    font-weight: bold;
    margin-right: 5px;
    transform: translateY(+10px);
}

.footer-container {
    width: 100%;
    height: 30px;
    display: block;
    float: right;
}

