.left {
    width: 5%;
    height: 100%;
    display: inline-block;
    float: left;
}

.content {
    width: 90%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.author {
    display: inline;
    font-weight: bold;
    font-size: medium;
    color: #141D2F;
}

.post {
    min-height: 100px;
    height: auto;
    width: 100%;
    display: block;
    overflow: hidden;
}

.date {
    display: inline;
    font-style: italic;
    font-weight: 600;
    color: #141D2F;
    opacity: 0.5;
}

.post-content {
    min-height: auto;
}

.post-content-expanded {
    height: auto;
}

.post-actions {
    text-align: right;
    font-weight: 600;
    color: #141D2F;
    opacity: 0.9;
}

.right {
    float: right;
    width: 100px;
}

