<div class="width-container profile-edit">
  <form [formGroup]="editProfileForm" (ngSubmit)="onSignup()">
    <div class="form-group flex profile-tab-edit__form-element">
      <div class="grid-third">
        <label for="profile-edit-username">Username</label>
      </div>
      <div class="grid-two-thirds">
        <mat-form-field appearance="fill" class="input-light">
          <input
            notEmptyDirective
            matInput
            type="text"
            id="profile-edit-username"
            aria-describedby="profile-edit-username-help"
            formControlName="username"
            required
          />
          <small id="profile-edit-username-help" class="form-text text-muted">Username must be unique</small>
          <ng-container *ngFor="let validation of messages.username">
            <mat-error
              class="landing-page__error-message"
              *ngIf="
                editProfileForm.get('username').hasError(validation.type) &&
                (editProfileForm.get('username').dirty || editProfileForm.get('username').touched)
              "
            >
              * {{ validation.message }}
            </mat-error>
          </ng-container>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group flex profile-tab-edit__form-element">
      <div class="grid-third">
        <label for="profile-edit-firstname">First name</label>
      </div>
      <div class="grid-two-thirds">
        <mat-form-field appearance="fill" class="input-light">
          <input matInput type="text" id="profile-edit-firstname" formControlName="firstname" required />
          <ng-container *ngFor="let validation of messages.firstname">
            <mat-error
              class="landing-page__error-message"
              *ngIf="
                editProfileForm.get('firstname').hasError(validation.type) &&
                (editProfileForm.get('firstname').dirty || editProfileForm.get('firstname').touched)
              "
            >
              * {{ validation.message }}
            </mat-error>
          </ng-container>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group flex profile-tab-edit__form-element">
      <div class="grid-third">
        <label for="profile-edit-surname">Surname</label>
      </div>
      <div class="grid-two-thirds">
        <mat-form-field appearance="fill" class="input-light">
          <input matInput type="text" id="profile-edit-surname" formControlName="surname" />
          <ng-container *ngFor="let validation of messages.surname">
            <mat-error
              class="landing-page__error-message"
              *ngIf="
                editProfileForm.get('surname').hasError(validation.type) &&
                (editProfileForm.get('surname').dirty || editProfileForm.get('surname').touched)
              "
            >
              * {{ validation.message }}
            </mat-error>
          </ng-container>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group flex profile-tab-edit__form-element">
      <div class="grid-third">
        <label for="profile-edit-country-select">Country</label>
      </div>
      <div class="grid-two-thirds">
        <mat-form-field appearance="fill" class="input-light">
          <mat-select [formControl]="editProfileForm.controls.country" id="profile-edit-country-select">
            <mat-option *ngFor="let country of countryList" [value]="country">{{ country }}</mat-option>
          </mat-select>

          <ng-container *ngFor="let validation of messages.country">
            <mat-error
              class="landing-page__error-message"
              *ngIf="
                editProfileForm.get('country').hasError(validation.type) &&
                (editProfileForm.get('country').dirty || editProfileForm.get('country').touched)
              "
            >
              * {{ validation.message }}
            </mat-error>
          </ng-container>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
