agm-map {
    height: inherit;
}

.mat-card {
    padding: 0 !important;
}

.map-container {
    vertical-align: middle;
    margin: auto;
    width: 65%;
    height: 400px;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
}

.line-type-indicator {
    display: inline;
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 20px;
    transform: translateY(+2px);
}

.line-type-list-indicator {
    display: inline;
    height: 100px;
    width: 5px;
}

.form-control-lg {
    display: inline;
    width: 80%;
    float: left;
}

.line-type {
    margin: auto;
    width: 50%;
    height: inherit;
    margin-bottom: 50px;
}

.marker-list {
    margin: auto;
    width: 50%;
    display: block;
    min-height: 250px;
}

.marker-list-p {
    display: inline;
    float: right;
    font-size: smaller;
}

.line-profile {
    height: inherit;
    margin: auto;
    padding: 0;
    display: block;
    width: 80%;
}