agm-map {
    height: inherit;
}

.map-container {
    height: 400px;
    width: 50%;
    padding: 0;
    display: block;
}

.container {
    margin: 20px;
    height: 100%;
    width: 100%;
}

.line-type-indicator {
    display: inline;
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 20px;
    transform: translateY(+2px);
}

.line-type-list-indicator {
    display: inline;
    height: 100px;
    width: 5px;
}

.form-control-lg {
    display: inline;
    width: 60%;
    float: left;
}

.line-type {
    height: inherit;
    margin-bottom: 50px;
}

.marker-list {
    display: block;
    width: 30%;
}

.marker-list-p {
    display: inline;
    float: right;
    font-size: smaller;
}