<div class="container">

    <div class="line-type">
        <h3>Select type of line</h3>
        <select class="form-control form-control-lg" [(ngModel)]="selectedLineType">
            <option>Climb</option>
            <option>Backcountry</option>
            <option>Tour</option>
        </select>
        <div class="line-type-indicator" [ngStyle]="{'background-color': color_dictionary.get(getLineType())}"></div>
    </div>
    <hr>
    <!-- TODO: Add polylines and heightmap -->
    <mat-card class="map-container">
        <agm-map [mapTypeId]="mapType"
                 [latitude]="lat"
                 [longitude]="lng"
                 [disableDefaultUI]="false"
                 [backgroundColor]="color_dictionary.get(getLineType())"
                 (mapClick)="mapClicked($event)"
        >
            <agm-marker
                    *ngFor="let m of markers;let i = index"
                    (markerClick)="clickedMarker(m, i)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [markerDraggable]="true"
                    (dragEnd)="markerDragEnd(m, $event)"
            >
                <agm-info-window>
                    <strong>{{m.name}}</strong>
                    <br>
                    <a class="delete" (click)="removeMarker(m)">delete</a>
                </agm-info-window>
            </agm-marker>

            <agm-polyline *ngFor="let item of polyCords"
                          [editable]="false"
                          strokeColor="color_dictionary.get(getLineType())"
                          strokeWeight="3"
                          [geodesic]="true"
            >
                <agm-polyline-point [latitude]="item.org_lat" [longitude]="item.org_lng"></agm-polyline-point>
                <agm-polyline-point [latitude]="item.destination_lat" [longitude]="item.destination_lng"></agm-polyline-point>
            </agm-polyline>

        </agm-map>
    </mat-card>
    <hr>
    <div class="marker-list">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let m of markers">
                {{m.name}}
                <p class="marker-list-p" [ngStyle]="{'color': color_dictionary.get(getLineType())}">{{m.lat.toFixed(2)}}, {{m.lng.toFixed(2)}}</p>
            </li>
        </ul>
    </div>
</div>