body {
    margin: 0px;
    padding: 0px;
}

#parent {
    margin-top: 50px;
    margin-left: 150px;
    background-color: white;
}

.container {
    margin: 0;
    width: 100%;
    border: 0;
    padding: 0;
}

