<div class="line-creator width-container">
    <agm-map class="line-creator__map"
             [mapTypeId]="'terrain'"
             [latitude]="45.9764324"
             [longitude]="7.6583424"
             [disableDefaultUI]="true"
             [zoom]="11"
    >
    </agm-map>
    <canvas baseChart width="400" height="100"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>