<div class="container">
    <mat-card class="input-container">
        <mat-form-field>
        <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
                  matAutosizeMaxRows="5"
                  [(ngModel)]="content"
                  [mention]="mentions"
        ></textarea>
        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button type="button" [ngStyle]="{'background-color': color_dictionary.get('third')}" (click)="onClear()">Clear</button>
            <button mat-raised-button type="submit" class="button-submit" (click)="onSubmit()">Save</button>
        </div>
    </mat-card>
</div>