<div class="app-navigation" [ngClass]="{'app-header--expanded': isExpanded, 'app-header--collapsed': !isExpanded}">
    <div class="width-container" [ngStyle]="{display: 'flex'}">
        <div class="grid-left">

        </div>
        <div class="grid-main">
            <h1 class="app-navigation__header">FREERAIDA</h1>
        </div>
        <div class="grid-right grid-right--align">
            <img class="app-navigation__user-icon" [src]="defaultProfileImage" >
            <i class="material-icons">add</i>
        </div>
    </div>
    <!--<div class="user-container" (click)="onToggle()">-->

        <!--<div *ngIf="hasImage(); then original_img else default_img"></div>-->
        <!--<ng-template #original_img>-->
            <!--<img src="{{userProfile?.picture}}" class="avatar" alt="avatar">-->
        <!--</ng-template>-->
        <!--<ng-template #default_img>-->
            <!--<i class="material-icons">account_circle</i>-->
        <!--</ng-template>-->

        <!--<h5 class="nickname">{{ profile?.display_name }}</h5>-->
        <!--<i class="material-icons">keyboard_arrow_down</i>-->

        <!--<div *ngIf="isOpen">-->
            <!--<app-user-options-dropdown [userProfile]="userProfile" [profile]="profile"></app-user-options-dropdown>-->
        <!--</div>-->
    <!--</div>-->

</div>
