<div class="container">

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <mat-card class="route-description-container">
        <ul>
            <li><input type="radio" name="options" (click)="mapType = 'satellite'"
                       [checked]="mapType === 'satellite'">Satellite</li>
            <li><input type="radio" name="options" (click)="mapType = 'terrain'"
                       [checked]="mapType === 'terrain'">Terrain</li>
            <li><input type="radio" name="options" (click)="mapType = 'hybrid'"
                       [checked]="mapType === 'hybrid'">Hybrid</li>
        </ul>
        <br>
        <!--TODO: make way for overflowing  -->
        <ul class="marker-list">
            <li class="route-list-li" *ngFor="let m of markers">
                <i class="material-icons">location_on</i>
                <p>{{m.name}} </p>
                <div class="list-coordinates"><p class="extra-small">{{m.lat}}</p><p class="extra-small">{{m.lng}}</p></div>
            </li>
        </ul>
        <div class="list-delete">
            <button class="list-delete-item" mat-icon-button (click)="markerDeleteAll()">
                <mat-icon>delete_sweep</mat-icon>
            </button>
            <button class="list-delete-item" mat-icon-button (click)="markerDeleteLast()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
    <!-- TODO: Add polylines and heightmap -->
    <mat-card class="map-container">
        <agm-map [mapTypeId]="mapType"
                 [latitude]="lat"
                 [longitude]="lng"
                 [disableDefaultUI]="false"
                 [backgroundColor]="'#6495ED'"
                 (mapClick)="mapClicked($event)"
        >
            <agm-marker
                    *ngFor="let m of markers;let i = index"
                    (markerClick)="clickedMarker(m, i)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [markerDraggable]="m.draggable"
                    (dragEnd)="markerDragEnd(m, $event)"
            >
                <agm-info-window>
                    <strong>{{m.name}}</strong>
                    <br>
                    <a class="delete" (click)="removeMarker(m)">delete</a>
                </agm-info-window>
            </agm-marker>

            <agm-polyline *ngFor="let item of polyCords"
                          [editable]="false"
                          strokeColor="#6495ED"
                          strokeWeight="5"
                          [geodesic]="true"
            >
                <agm-polyline-point [latitude]="item.org_lat" [longitude]="item.org_lng"></agm-polyline-point>
                <agm-polyline-point [latitude]="item.destination_lat" [longitude]="item.destination_lng"></agm-polyline-point>
            </agm-polyline>

        </agm-map>
    </mat-card>

    <mat-card class="route-info-card">
        <form [formGroup]="rideForm" (ngSubmit)="onSubmit()">
            <div class="left-side">
                <div class="form-group">
                    <label for="linename">Name of line</label>
                    <input
                            type="text"
                            id="linename"
                            class="form-control"
                            formControlName="linename"
                    >
                </div>
                <br>
                <h4>Line difficulty</h4>
                <ul>
                    <li>
                        <div class="option">
                            <h5>Danger level</h5>
                            <div class="option-options">
                                <input type="radio" name="danger-options" (click)="danger_level = 'safe'"
                                       [checked]="overall_dangerlevel === 'safe'">
                                <label>Safe</label>
                                <input type="radio" name="danger-options" (click)="danger_level = 'caution'"
                                       [checked]="overall_dangerlevel === 'caution'">
                                <label>Caution</label>
                                <input type="radio" name="danger-options" (click)="danger_level = 'danger'"
                                       [checked]="overall_dangerlevel === 'danger'">
                                <label>Danger</label>
                                <input type="radio" name="danger-options" (click)="danger_level = 'extreme'"
                                       [checked]="overall_dangerlevel === 'extreme'">
                                <label>Extreme</label>
                            </div>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div class="option">
                            <h5>Level of trees</h5>
                            <div class="option-options">
                                <input type="radio" name="tree_options" (click)="tree_level = 'safe'"
                                       [checked]="tree_level === 'safe'">
                                <label>Safe</label>
                                <input type="radio" name="tree_options" (click)="tree_level = 'caution'"
                                       [checked]="tree_level === 'caution'">
                                <label>Caution</label>
                                <input type="radio" name="tree_options" (click)="tree_level = 'danger'"
                                       [checked]="tree_level === 'danger'">
                                <label>Danger</label>
                                <input type="radio" name="tree_options" (click)="tree_level = 'extreme'"
                                       [checked]="tree_level === 'extreme'">
                                <label>Extreme</label>
                            </div>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div class="option">
                            <h5>Level of rocks</h5>
                            <div class="option-options">
                                <input type="radio" name="rock-options" (click)="rock_level = 'safe'"
                                       [checked]="rock_level === 'safe'">
                                <label>Safe</label>
                                <input type="radio" name="rock-options" (click)="rock_level = 'caution'"
                                       [checked]="rock_level === 'caution'">
                                <label>Caution</label>
                                <input type="radio" name="rock-options" (click)="rock_level = 'danger'"
                                       [checked]="rock_level === 'danger'">
                                <label>Danger</label>
                                <input type="radio" name="rock-options" (click)="rock_level = 'extreme'"
                                       [checked]="rock_level === 'extreme'">
                                <label>Extreme</label>
                            </div>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div class="option">
                            <h5>Level of cliffs</h5>
                            <div class="option-options">
                                <input type="radio" name="cliff-options" (click)="cliff_level = 'safe'"
                                       [checked]="cliff_level === 'safe'">
                                <label>Safe</label>
                                <input type="radio" name="cliff-options" (click)="cliff_level = 'caution'"
                                       [checked]="cliff_level === 'caution'">
                                <label>Caution</label>
                                <input type="radio" name="cliff-options" (click)="cliff_level = 'danger'"
                                       [checked]="cliff_level === 'danger'">
                                <label>Danger</label>
                                <input type="radio" name="cliff-options" (click)="cliff_level = 'extreme'"
                                       [checked]="cliff_level === 'extreme'">
                                <label>Extreme</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-side">

            </div>
        </form>
    </mat-card>
</div>