agm-map {
    height: inherit;
}

.container {
    margin: 20px;
    height: 100%;
    width: 100%;
}

.map-container {
    height: 700px;
    margin: 0 15px;
    width: 80%;
    padding: 0;
    float: left;
}

.route-description-container {
    height: 700px;
    width: 15%;
    padding: 0;
    background-color: #141D2F;
    float: left;
}

i {
    white-space: nowrap;
    transform: translateY(+25%);
}

li {
    display: block;
    margin: 10px 0;
}

li:after {
    content:"\a";
    white-space: pre;
}

ul {
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
}

.route-list-li {
    white-space: nowrap;
    border-top: 1px solid white;
}

p {
   display: inline-block;
   margin-right: 2px;
}

.extra-small {
    display: block;
    font-size: xx-small;
    color: lightgrey;
    margin: 0;
}

.list-coordinates {
    display: inline-block;
    padding: 10px;
}

.route-info-card {
    margin: 15px 15px 15px 0;
    height: 500px;
    display: block;
    float: left;
    width: 1184px;
    background-color: #141D2F;
    color: white;
}

.option {
    display: block;
    float: left;
    clear: none;
}

h5 {
    white-space: nowrap;
    float: left;
    margin-right: 10px;
}

.option-options {
    display: inline-block;
    float: left;
    clear: none;
}

label {
    float: left;
    clear: none;
    display: block;
    margin-left: 5px;
    padding: 2px 1em 0 0;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
}

.li-option {
    display: inline-block;
}

.safe {
    border-left: solid 5px greenyellow;
    padding-left: 10px;
}

.caution {
    border-left: solid 5px yellow;
    padding-left: 10px;
}

.danger {
    border-left: solid 5px red;
    padding-left: 10px;
}

.extreme {
    border-left: solid 5px orangered;
    padding-left: 10px;
}
