<div class="container">

    <h1>{{ title }}</h1>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <mat-card class="map-container">
        <agm-map [mapTypeId]="mapType"
                 [latitude]="lat"
                 [longitude]="lng"
                 [disableDefaultUI]="true"
                 [backgroundColor]="'#6495ED'"
                 (mapClick)="mapClicked($event)"
        >
            <agm-marker
                    *ngFor="let m of markers;let i = index"
                    (markerClick)="clickedMarker(m, i)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    (dragEnd)="markerDragEnd(m, $event)"
            >
                <agm-polyline *ngFor="let data of markers" [editable]="false" [strokeColor]="'#6495ED'" [geodesic]="true">
                </agm-polyline>
            </agm-marker>

        </agm-map>
    </mat-card>

    <div class="map-options-container">
        <mat-card class="map-options-card">
            <div>
                <input type="radio" name="radio" id="radio1" class="radio" checked/>
                <label for="radio1">Satellite</label>
            </div>

            <div>
                <input type="radio" name="radio" id="radio2" class="radio"/>
                <label for="radio2">Terrain</label>
            </div>

            <div>
                <input type="radio" name="radio" id="radio3" class="radio"/>
                <label for="radio3">Hybrid</label>
            </div>
        </mat-card>
    </div>

    <div class="map-options-container">
        <mat-card class="map-list-card">
            <mat-list>
                <mat-list-item *ngFor="let m of markers;let i = index">
                    <div mat-line>
                        <mat-icon mat-list-icon>terrain</mat-icon>
                        <h4>{{m.name}}</h4>
                        <p>{{m.lat}} , {{m.lng}}</p>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>


</div>